*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    background-color: #1A0B2E;
}

/* Navbar Section */
.nav{
    display: flex;
    background-color:#1A0B2E ;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0px;
    height: 92px;
    border-bottom: 2px solid rgba(65, 37, 103, 1)
}
.nav h1{
    color: #FFFFFF;
    background-color: #1A0B2E;
}
#Tech-Wave{
    font-size: 3rem;
    font-weight: 700;
    margin-left: 200px;
}
#Wave{
    background: linear-gradient(to bottom,
        #9d26d1 38%,
        #ff1f8e 60%,  
        #ff8e5e  81%     
    );
    
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;  
}
nav .menu{
    display: flex;
    margin-left: 314px;
    list-style-type: none;
    gap: 2rem;
}
nav .menu a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}
.hamburger-icon {
    display: none;
}

/* Button Related Style */
.btn{
    background: linear-gradient(30deg,
     rgba(247, 233, 63, 1),
     rgba(251, 9, 180, 1),
     rgba(145, 0, 248, 1));

    padding: 12px 16px;
    border-radius: 100px;
    margin-left: 314px;
    font-size: 16px;
    font-weight: 600;
    gap:4px;);
}
